body {
    margin: 0;
    font-family: manrope,Sans-serif;
    line-height: 1.6;
}

header {
    background-color: #054ADA;
    color: #fff;
    padding: 33px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
    
}
.cor_da_logo{
    color: #ff914d;
}
.logo a{
    text-decoration: none;
    color: #fff;
}
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

.menu a:hover {
    text-decoration: underline;
}

.search-form {
    display: flex;
}

.search-form input {
    padding: 5px;
    font-size: 1em;
    border: none;
    border-radius: 3px;
    outline: none;
}



h1, h2, h3 {
    color: #333;
}
h1 {
    font-size: 2em;
    margin-bottom: 20px;
}
h2 {
    font-size: 1.5em;
    margin-top: 20px;
}
h3 {
    font-size: 1.2em;
    margin-top: 15px;
}
p {
    margin-bottom: 15px;
}
ul {
    margin: 10px 0;
    padding-left: 20px;
}
li {
    margin-bottom: 10px;
}
header {
    margin-bottom: 20px;
}
article {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

footer nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

footer .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

footer .menu li {
    margin-left: 20px;
}

footer .menu a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

footer .menu a:hover {
    text-decoration: underline;
}

footer .search-form {
    display: flex;
}

footer .search-form input {
    padding: 5px;
    font-size: 1em;
    border: none;
    border-radius: 3px;
    outline: none;
}


