body {
    margin: 0;
    font-family: manrope, Sans-serif;
    line-height: 1.6;
}
.h1, h1 {
    font-size: calc(1.375rem + 1.5vw);
    font-weight: 600;
}
header {
    background: linear-gradient(45deg, #054ADA, #0f56e9de);
    color: #fff;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: all 0.3s ease;
    top: 0;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #ff914d;
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
}

.cor_da_logo {
    color: #ff914d;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

.menu a:hover {
    text-decoration: underline;
}

.search-form {
    display: flex;
}

.search-form input {
    padding: 5px;
    font-size: 1em;
    border: none;
    border-radius: 3px;
    outline: none;
}
.topo_1{
    margin-top: 100px;
}

footer {
    background: linear-gradient(45deg, #054ADA, #0f56e9de);; /* Cor de fundo do footer */
    color: #fff; /* Cor do texto do footer */
    padding: 20px 0; /* Padding superior e inferior */
    font-size: 0.9em; /* Tamanho da fonte */
}

.footer-container {
    display: flex;
    justify-content: space-between; /* Espaça os itens para os extremos */
    align-items: center; /* Alinha verticalmente os itens */
    padding: 0 20px; /* Padding lateral */
}

.footer-brand a {
    color: #fff; /* Cor do texto do link da marca */
    text-decoration: none; /* Remove o sublinhado do link */
    font-size: 1.2em; /* Tamanho da fonte da marca */
}

.footer-brand a:hover {
    text-decoration: underline; /* Sublinha o link ao passar o mouse */
}

.footer-nav {
    display: flex; /* Exibe os itens do footer-nav em linha no desktop */
    flex-direction: column; /* Exibe os itens um abaixo do outro */
    align-items: flex-end; /* Alinha os itens à direita */
}

.footer-nav .menu {
    list-style: none; /* Remove os pontos das listas */
    margin: 0; /* Remove a margin */
    padding: 0; /* Remove o padding */
}

.footer-nav .menu li {
    margin-bottom: 10px; /* Espaço entre os itens */
}

.footer-nav .menu a {
    color: #fff; /* Cor do texto dos links */
    text-decoration: none; /* Remove o sublinhado dos links */
}

.footer-nav .menu a:hover {
    text-decoration: underline; /* Sublinha o link ao passar o mouse */
}

.footer-bottom {
    text-align: center; /* Alinha o texto ao centro */
    padding: 10px 20px; /* Padding para o texto de direitos reservados */
    border-top: 1px solid #444; /* Linha superior para separar o texto do resto do footer */
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
    font-size: 1.151rem;
}

.navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.951rem;
    text-decoration: none;
    white-space: nowrap;
    font-weight:800
}

@media (max-width: 768px) {
    .navbar-dark .navbar-toggler {
        border-color: rgba(255, 255, 255, 0);
        font-size: 1.1rem;

    }
    .navbar-toggler-icon {
        display: inline-block;
        width: 1.9rem;
        height: 1.9em;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
    
    
    .topo_1{
        margin-top: 10px;
    }
    .navbar-collapse {
        display: none; /* Inicialmente oculto */
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        background-color: #054ADA; /* Cor de fundo do menu */
        position: absolute; /* Para que fique acima do conteúdo */
        top: 60px; /* Ajuste para ficar logo abaixo da barra de navegação */
        left: 0;
        right: 0;
        z-index: 999; /* Garante que o menu fique acima de outros elementos */
    }

    .navbar-collapse.show {
        display: flex !important; /* Exibe o menu quando estiver aberto */
        flex-direction: column; /* Itens do menu em coluna */
        align-items: flex-start; /* Alinha itens do menu à esquerda */
        padding-left: 20px; /* Espaço à esquerda dos itens do menu */
    }

    .navbar-toggler {
        order: 1; /* Coloca o ícone hambúrguer no início na versão mobile */
    }

    .navbar-brand {
        order: 2; /* Coloca a logo depois do ícone hambúrguer na versão mobile */
        margin-left: auto; /* Para alinhar a logo à direita na versão mobile */
    }

    .navbar-brand {

        margin-right: 1rem;
        font-size: 1.551rem;

    }

    .navbar-nav {
        width: 100%; /* Faz o menu ocupar toda a largura disponível */
        padding: 0; /* Remove qualquer padding adicional */
        margin: 0; /* Remove qualquer margin adicional */
        text-align: left; /* Alinha o texto do menu à esquerda */
    }

    .navbar-nav .nav-item {
        margin: 0; /* Remove a margin padrão dos itens */
    }

    .navbar-nav .nav-link {
        display: block; /* Faz os links ocupar toda a largura do contêiner pai */
        padding: 10px 0; /* Adiciona padding para aumentar a área clicável */
        color: #fff!important; /* Cor do texto dos links */
        text-decoration: none; /* Remove sublinhado dos links */
        font-size: 1.1rem;
    }

    .navbar-nav .nav-link:hover {
        text-decoration: underline; /* Adiciona sublinhado quando o link é hoverado */
    }
}

body.scrolled header {
    padding: 5px 0;
}

/* Estilos para o botão de voltar ao topo */
#scrollToTop {
    display: none; /* Inicialmente escondido */
    position: fixed; /* Fica fixo na tela */
    bottom: 20px; /* Distância do fundo da tela */
    right: 20px; /* Distância da borda direita da tela */
    width: 50px; /* Largura do botão */
    height: 50px; /* Altura do botão */
    background-color: #054ADA; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none; /* Remove a borda do botão */
    border-radius: 50%; /* Faz o botão ser arredondado */
    font-size: 24px; /* Tamanho da fonte do ícone */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Cursor de mão quando sobre o botão */
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#scrollToTop:hover {
    background-color: #ff914d; /* Cor de fundo ao passar o mouse */
}

/* Estilo para exibir o botão quando o usuário rola a página */
#scrollToTop.show {
    display: flex;
}
